* {
    box-sizing:border-box;
    margin: 0;
}

.logo {
    height: 5em;
}

ul {
    padding-left: 0;
}

header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #444444;
}

header nav {
    flex: 1;
}

header nav ul{
    display: flex;
    justify-content:flex-end;
    
}

header nav li {
    list-style-type: none;
    padding: 1em;
}

a {
    color: #fff;
    font-size: 1.2em;
    transition: background-color .3s, color .3s;
    text-decoration: none;
    text-transform: uppercase; 
}

a:hover {
    color: #aaa;
}

html {
    color: #000000;
    font-size: 18px;
    font-family: "arial", "sans-serif";
}

body {
    background-color: #444444;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.awardsquote {
    background-color: rgba(166, 167, 160, 0.60);
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    font-weight: 700;    
}

#videobackground {
    align-content: center;
    background-color: rgba(166, 167, 160, 0.60);  
}

.main-nav {
    color: #000000;
    text-decoration-color: #ebff00;
    font-size: 100%;
}

p {
    background-color: rgba(166, 167, 160, 0.75);
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px;
    text-align: center;
}

.main-page-container {
    padding: 4vh 0;
    display: flex;
    justify-content: space-around;
}

.picture-page-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form p {
    display: flex;
    margin-bottom: 1em;
}

form label {
    flex-basis: 33%;
}

form input, textarea {
    flex: 1;
    margin: 0 1em;
    border-radius: 5px;
}

form-button {
    margin-right: 1em;
} 

@media screen and (max-width: 30rem) {
    p,
    header,
    main,
    footer,
    form p{
        flex-direction: column;
    }
    form input, textarea {
        margin: 2px 0
    }
}